.boardcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    align-self: left;
}

.boardcontainer > div {
    display: flex;
    position: relative;
    height: 150px;
    border: 1px solid #000000;
    text-align: center;
    background-color: green;
}

.progresscontainer {
    width: 80%;
}

.progresscontainer > div {
    text-align: center;
}

.progresscontainer > label {
    position: absolute;
    width: 80%;
    text-align: center;
    color: black;
    font-size: .75em;
}

.clicksleft {
    width: 80%;
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.level {
    width: 80%;
    text-align: center;
    font-size: 2em;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.napattack {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 1;
}